// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.overlay {
width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.05);
  display: none;
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
}
.modal-window {
// モーダルウィンドウの画面を設定(高さ・幅は調整ください)
  width: 350px;
  height: 150px;
  position: fixed;
  border: 2px solid #D04255;
  background-color: #FFF;
  display: none;
  z-index: 2
}